button{
    cursor:pointer;
    transition: 0.15s;
}

button:hover{
    box-shadow: 0px 0px 10px rgba(0, 217, 255, 0.572);
}


.topic-text-div{
    color: #262626;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 140px;
    margin-top: 50px;
}

.topics-div{
    display: flex;
    margin-left: 140px;
    margin-right: 60px;
    margin-top:50px;
    
}

.topic{
    margin-right: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 204px;
    height: 291px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.topic-pic-div{
    margin-top: 20%;
    margin-bottom: 20px;
}

.topic-pic{
    width: 100px;
}

.topic-text{
    color: #262626;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 129px;
    height: 36px;
}

.topic-button{
    width: 143.811px;
    height: 35.953px;
    transform: rotate(-0.467deg);
    flex-shrink: 0;
    border-radius: 40px;
    background: #4CE0D7;
    border:none;
    font-family: Poppins;
    font-weight: 700;
    margin-top:30px;
}